doctype html
head
  meta(charset='utf-8')
  <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://www.youtube.com; child-src https://www.youtube.com;">
  style
    include style.css
    include toggleCheckbox.css
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  
  link(rel='stylesheet' href='https://unpkg.com/swiper/swiper-bundle.css')
  script(src='sprites/swiper-bundle.js')

  title Fulloption Oneroom
header
  .wrapper
    h2 Fulloption Oneroom
    nav
      ul.menu
        li.button
          a(href='/') HOME
        li.button
          a(href='#') ABOUT