doctype html
head
  meta(charset='utf-8')
  script
    include mouseHoverEffect.js
  style
    include style.css
  title Site TItle
header
  .wrapper
    h2 TITLE
    nav
      ul.menu
        li.button
          a(href='#') HOME
        li.button
          a(href='#') ABOUT