script(type='text/javascript').
    function reImg(){
        document.getElementById('mainimg').src = "../sprite/room.png"
    }
    function movie(){
        document.getElementById('mainimg').src = "../sprite/room_movie.png"
    }
    function trip(){
        document.getElementById('mainimg').src = "../sprite/room_Trip.png"
    }
    function music(){
        document.getElementById('mainimg').src = "../sprite/room_Cafe.png"
    }
    function bed(){
        document.getElementById('mainimg').src = "../sprite/room_Bed.png"
    }
