
h1 제목이 들어가면 정말 좋겠네</br></br>
img(src="sprites/room_movie.png")
</br>
div 이곳에 설명이 아주 적절하게 들어가면 좋을 텐데 </br>
    |어떤 말이 들어가야 할까</br>
    |가운데 정렬이라 좀 극혐이긴 하다</br></br>
form
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        h3 질문을 입력하는 곳 1</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 2</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 3</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 4</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 5</br></br>
         input(type='checkbox' name="question 1")
      .swiper-slide
        input(type='submit')

script(src='sprites/initialSwipe.js')


