
h1 제목이 들어가면 정말 좋겠네
img(src="sprites/room_movie.png")
p 나중에 조정을 해야겠네
br
form
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        p 질문을 입력하는 곳 1
        input(type='checkbox' name="question 1")
      .swiper-slide
        p 질문을 입력하는 곳 2
        input(type='checkbox' name="question 1")
      .swiper-slide
        p 질문을 입력하는 곳 3
        input(type='checkbox' name="question 1")
      .swiper-slide
        p 질문을 입력하는 곳 4
        input(type='checkbox' name="question 1")
      .swiper-slide
        p 질문을 입력하는 곳 5
        input(type='checkbox' name="question 1")
      .swiper-slide
        submit

script(src='sprites/initialSwipe.js')


