
h1 설문조사의 제목</br></br>
img(src="sprites/room_movie.png")
</br>
div 이곳은 설명이 들어가는 자리입니다 </br>
    |설명 1</br>
    |이런 식으로 들어가게 됩니다.</br></br>
form
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        h3 질문을 입력하는 곳 1</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 2</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 3</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 4</br></br>
          input(type='checkbox' name="question 1")
      .swiper-slide
        h3 질문을 입력하는 곳 5</br></br>
         input(type='checkbox' name="question 1")
      .swiper-slide
        input(type='submit')

script(src='sprites/initialSwipe.js')


