
h1 제목이 들어가면 정말 좋겠네
img(src="sprites/room_movie.png")
p 나중에 조정을 해야겠네
br

.swiper-container
  .swiper-wrapper
    .swiper-slide
      p 질문을 입력하는 곳
      input(type='checkbox' name="question 1")
    .swiper-slide Slide 2
    .swiper-slide Slide 3
    .swiper-slide Slide 4
    .swiper-slide Slide 5
    .swiper-slide Slide 6
    .swiper-slide Slide 7
    .swiper-slide Slide 8
    .swiper-slide Slide 9
    .swiper-slide Slide 10
  .swiper-button-next
  .swiper-button-prev

script(src='sprites/swiper-bundle.min.js')

