
h1 MBTI를 통해 추천해주는 영화</br></br>
img(src="sprites/room_movie.png")
</br>
.investigation &lt;코로나 때문에 밖에 나가지 못하는 당신&gt; <br> 그런 당신을 위해 만든 이 특별한 설문조사로<br>당신과 함께할 영화를 골라봐요
</br>
.upper_swiper
  .swiper-container
    .swiper-wrapper
      .swiper-slide
        div 
          h3 새로 개봉한 영화 한 번 볼까? 싶을 때 </br></br>
          .firstQ 1. 영화관 가서 몰입하고 집중해서 봐야지!</br>
          .vs VS <br>
          .secondQ 2. 집에서 편하게 맥주랑 맛있는거 먹으면서 볼래</br></br>
          h4 답변을 선택하고 스와이프 하세요!</br></br>
            // 집일경우 j++
            input(type='checkbox' id="q1")
      .swiper-slide
        div 
          h3 평소 더 듣고싶은 칭찬은? </br></br>
          .firstQ 1. 와 다음에도 너랑 일하고 싶다! 니꺼 참고 해도 돼?</br>
          .vs VS <br>
          .secondQ 2. 넌 꼭 필요한 사람이야! 니가 제일 소중해</br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 t++ 2번일경우 f++
            input(type='checkbox' id="q2")
      .swiper-slide
       div 
          h3 친구: 나 힘들게 돈 벌어서 아이패드 샀어ㅠㅠ </br></br>
          .firstQ 1. 아이패드 어때? 좋아? 펜슬은 샀어?</br>
          .vs VS <br>
          .secondQ 2. 돈 버느라 힘들었겠다... 고생했어ㅠㅠ </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 t++ 2번일경우 f++
            input(type='checkbox' id="q3")
      .swiper-slide
        div 
          h3 길을 걷다가 신기한 꽃을 봤을 때 </br></br>
          .firstQ 1. 꽃은 보라색인데 줄기는 흰색이네?</br>
          .vs VS <br>
          .secondQ 2. 저 꽃에서 좋은 향기 날 것 같아 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 s++ 2번일경우 n++
            input(type='checkbox' id="q4")
      .swiper-slide
        div 
          h3 영화를 보고 난 후 친구가 어땠냐고 물어볼 때 </br></br>
          .firstQ 1. 주인공이 어쩌구저쩌구 하고.. 그다음엔 저렇게 되고..</br>
          .vs VS <br>
          .secondQ 2. CG가 대박이더라 나는 재밌었어~ </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 s++ 2번일경우 n++
            input(type='checkbox' id="q5")
      .swiper-slide
        div
          h3 방 정리를 할 때 </br></br>
          .firstQ 1. 이건 나중에 필요할 수도 있으니까... 이쪽에 놔두자</br>
          .vs VS <br>
          .secondQ 2. 안 쓰니까 버리자 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 p++ 2번일경우 j++
            input(type='checkbox' id="q6")
      .swiper-slide
        div
          h3 나는 말 할 때 </br></br>
          .firstQ 1. 말을 하면서 생각과 표현을 정리하는 편</br>
          .vs VS <br>
          .secondQ 2. 먼저 생각과 표현을 정리하고 말 하는 편 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 e++ 2번일경우 i++
            input(type='checkbox' id="q7")
      .swiper-slide
        div
          h3 여러가지 일을 해야할 때 </br></br>
          .firstQ 1. 한가지의 일을 끝내고 그 다음 일을 한다</br>
          .vs VS <br>
          .secondQ 2. 한가지의 일이 아직 안 끝났어도 그 다음 일을 할 수 있다 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 j++ 2번일경우 p++
            input(type='checkbox' id="q8")
      .swiper-slide
        div
          h3 나는 목소리가 </br></br>
          .firstQ 1. 큰 편</br>
          .vs VS <br>
          .secondQ 2. 작은 편 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 e++ 2번일경우 i++
            input(type='checkbox' id="q9")
      .swiper-slide
        div
          h3 '사과'하면 떠오르는 것은? </br></br>
          .firstQ 1. 빨간색 </br>
          .vs VS <br>
          .secondQ 2. 백설공주 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 s++ 2번일경우 n++
            input(type='checkbox' id="q10")
      .swiper-slide
        div
          h3 시험공부중인 카페에 친구가 놀러왔습니다. 누가 더 잘못한 사람인가요? </br></br>
          .firstQ 1. 고생한다고 음료 사 오다가 요점노트에 엎은 초이 </br>
          .vs VS <br>
          .secondQ 2. 내가 화장실 간 사이 밤새 정리한 요점노트 사진찍은 한준 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 t++ 2번일경우 f++
            input(type='checkbox' id="q11")
      .swiper-slide
        div
          h3 선생님: "오늘 강당에서 mbti 검사하고 조별로 모여서 게임할거니까 모여라~" </br></br>
          .firstQ 1. 와 재밌겠다! 친구들 끌고 간다 </br>
          .vs VS <br>
          .secondQ 2. 안 간다 / 안 갈 만한 핑계를 만든다 </br></br>
          h3 답변을 선택하고 스와이프 하세요!</br></br>
            // 1번일경우 e++ 2번일경우 i++
            input(type='checkbox' id="q12")
      .swiper-slide
        button#submitButton(
          type='submit'
        ) END

script(src="sprites/calculateMbti.js")
script(src='sprites/initialSwipe.js')

