img{
    width: 40%;
}


  /* 얘는 설문조사 체크박스를 토글로 만드는 */
input[type="checkbox"]{
    -webkit-appearance: none;
    appearance: none;
    height: 50px;
    width: 200px;/*크기조정!*/
    background-color: #B8AA93;
    border-radius: 50px;
    position: absolute;
    outline: none;
    transition:  0.5s;

    position: relative;
}
input[type="checkbox"]:before{/*움직이는 버튼*/
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #8A7F6E;
    border-radius: 50%;
    left: 5px;
    top: 5px;
    transition:  0.5s;
}
input[type="checkbox"]:after{
    content: "1번";
    position: relative;
    color: #8A7F6E;
    font-size: 40px;
    left: 220px;
    letter-spacing: 1px;
    transition:  0.7s;
}
input[type="checkbox"]:checked{
    background-color: #8A7F6E;
}
input[type="checkbox"]:checked:before{
    background-color: #B8AA93;
    left: 155px;    /*크기조정!*/
}
input[type="checkbox"]:checked:after{
    content: "2번";
    color: #B8AA93;
}


/*설문조사 영역*/
  /*설문조사의 설명*/
.investigation{
    color: #736A5B;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
/*대충 이렇게 디자인을 할 수 있게 설정
  디자인감각이 별로인 관계로 다음으로 변경
*/
.vs {
    color: #2E2A24;
    font-size: 20px;
    font-weight: bold;
}
.firstQ{
    color: #8A7F6E;
    font-size: 30px;
}
.secondQ{
    color: #B8AA93;
    font-size: 30px;
}