include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle Aladdin
        .resultName  청렴결백한 논리주의자형
        .description 이런거 다 유사과학이라고 생각하는 당신!
        .description 혼자 일하는 것을 좋아하는 당신에게
        .description 알라딘을 추천합니다!
        .movimg
            img(src="movimg/istj.jpg")
        a(href='/')
          button() HOME
