include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 나의 소녀시대
        .resultName  엄격한 관리자형
        .description 도 아니면 모! 애매모호는 절대 싫고
        .description 확실한 것을 좋아하는 당신에게
        .description 나의 소녀시대를 추천합니다!
        .movimg
            img(src="movimg/estj.jpg")
        a(href='/')
          button() HOME
