include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle LALA LAND!
        .resultName  논리적인 사색가형
        .description 웬만한 일에 상처를 받지 않고,
        .description 창의력 스탯 만렙인 당신에게
        .description 라라랜드를 추천합니다!
        .movimg
            img(src="movimg/intp.jpeg")
        a(href='/')
          button() HOME
