include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 그랜드 부다페스트 호텔
        .resultName  자유로운 영혼의 연예인형
        .description 요즘 문화 모르는게 없는 당신!
        .description 사교성 만렙인 당신에게
        .description 그랜드 부다페스트 호텔을 추천합니다!
        .movimg
            img(src="movimg/esfp.jpg")
        a(href='/')
          button() HOME
