include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 엘사가 되는 상상... 솔직히 해봤잖아요?
        .resultName  재기발랄한 활동가형
        .description 긍정적이고 낙천적이며
        .description 반복적인 일상을 매우 싫어하는 당신에게
        .description 겨울왕국 시리즈를 추천합니다!
        .movimg
            img(src="movimg/enfp.jpg")
        a(href='/')
          button() HOME
