include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 친구일까 연인일까
        .resultName  선의의 옹호자형
        .description 인간 겉바속촉인 당신!
        .description 상상력이 풍부한 당신에게
        .description 주토피아를 추천합니다!
        .movimg
            img(src="movimg/infj.jpeg")
        a(href='/')
          button() HOME
