include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle Why so serious?
        .resultName  용의주도한 전략가형
        .description 관심 분야 외에는 신경쓰지 않고,
        .description 당신의 능력에 대해 자신감이 있는 당신에게
        .description 다크나이트를 추천합니다!
        .movimg
            img(src="movimg/intj.jpeg")
        a(href='/')
          button() HOME
