include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle LALA LAND!
        .resultName  열정적인 중재자형
        .description 진입장벽을 넘은 친구나 연인에게는
        .description 모든 것을 오픈하는 당신에게
        .description 라라랜드를 추천합니다!
        .movimg
            img(src="movimg/infp.jpg")
        a(href='/')
          button() HOME
