include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 주먹왕 랄프 시리즈
        .resultName  용감한 수호자형
        .description 착하고 친절하다는 소리를 많이 듣지만
        .description 뒤끝은 있는 당신에게
        .description 주먹왕 랄프 시리즈를 추천합니다!
        .movimg
            img(src="movimg/isfj.jpeg")
        a(href='/')
          button() HOME
