include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 당신의 시간은 거꾸로 간다!
        .resultName  정의로운 사회운동가형
        .description 미래와 현실을 동시에 고려하는 넓은 시야를 가진 당신!
        .description 눈치도 좋고 센스도 좋은 당신에게
        .description 벤자민 버튼의 시간은 거꾸로간다를 추천합니다!
        .movimg
            img(src="movimg/enfj.jpeg")
        a(href='/')
          button() HOME
