include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle HARRY POTTER
        .resultName  호기심 많은 예술가형
        .description 예술 계통에 최소 한 분야에는 재능이 있는 당신!
        .description 해리포터와 똑같은 성격을 가진 당신에게
        .description 해리포터 시리즈를 추천합니다!
        .movimg
            img(src="movimg/isfp.jpg")
        a(href='/')
          button() HOME
