include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 스파이더맨
        .resultName  만능 재주꾼형
        .description 효율성 빼면 시체인 당신!
        .description 친해지면 말 많고 장난도 잘 치는 당신에게
        .description 스파이더맨을 추천합니다!
        .movimg
            img(src="movimg/istp.jpg")
        a(href='/')
          button() HOME
