include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle INCEPTION
        .resultName  대담한 통솔자형
        .description 감성팔이를 논리적인 팩트로 반박하는 당신!
        .description 해보지도 않고 못한다는 말을 가장 싫어하는 당신에게
        .description 인셉션을 추천합니다!
        .movimg
            img(src="movimg/entj.jpeg")
        a(href='/')
          button() HOME
