include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle Tangled!
        .resultName  뜨거운 논쟁을 즐기는 변론가형
        .description 완벽주의자와는 거리가 멀고
        .description 관대하고 느긋한 삶을 가진 당신에게
        .description 라푼젤을 추천합니다!
        .movimg
            img(src="movimg/entp.jpeg")
        a(href='/')
          button() HOME
