include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 매드맥스
        .resultName 모험을 즐기는 사업가형
        .description 스릴 없으면 재미도 없는 당신!
        .description 갈등이 심해질수록 차가워지는 머리와 끓어오르는 피를 가진 당신에게
        .description 매드맥스를 추천합니다!
        .movimg
            img(src="movimg/enfp.jpg")
        a(href='/')
          button() HOME
