include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 타이타닉
        .resultName  사교적인 외교관형
        .description 사회생활 잘 한다는 소리 많이 들어보셨죠?
        .description 친구, 가족, 내 사람을 잘 챙기는 당신에게
        .description 타이타닉을 추천합니다!
        .movimg
            img(src="movimg/esfj.jpg")
        a(href='/')
          button() HOME
