include partials/header
script(src="jquery-3.5.1.min.js")
script(src='sprites/hover.js')

.button_div
  button.btn#open0 MOVIE
  .modal.hidden
    .modal_overlay
    .modal_content
      include partials/questionExample
  button#open1.btn BOOK
  .modal.hidden
    .modal_overlay
    .modal_content
      include partials/questionExample_book
  button#open2.btn CAFE
  .modal.hidden
    .modal_overlay
    .modal_content
      include partials/questionExample_cafe
script(src='sprites/popup.js')
.img
  img#mainimg(src="sprites/room.png" data-original="sprites/room.png")