include partials/header
script(src='sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 당신은 이런 사람이군요 같은 제목
        .resultName  무슨무슨 형
        .description 여기에는 설명이 들어가는데
        .description 산단하게 3줄정도면
        .description 충분한 정보 전달이 되는게 아닐까
        .youtube
            iframe(width='560' height='315' src='https://www.youtube.com/embed/v3mQ0njQ61Q' frameborder='0' allow='accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
        a(href='/')
          button() HOME

