include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 어디에서도 대표주자!
        .resultName  아메리카노
        .description 맡은 일을 끝까지 하는 신뢰형인 당신!
        .description 심플하지만 가장 대표가 되는 이 음료를
        .description 책임감의 ISTJ인 당신에게 추천합니다
        .movimg
            img(src="cafeimg/istj.jpg")
        a(href='/')
          button() HOME
