include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 감성이 진한 당신
        .resultName  카페모카
        .description 달콤하면서 진한 이 커피
        .description 위에 휘핑크림까지 올린다면
        .description 긍정적인 성격과 따뜻한 마음을 가진 ISFP에 어울립니다
        .movimg
            img(src="cafeimg/isfp.jpg")
        a(href='/')
          button() HOME
