include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 현실적이며 효율적인 당신
        .resultName  바닐라라떼
        .description 효율적이고 현실적인 ESTJ
        .description 진한 에스프레소와 달콤한 바닐라
        .description 당신과 딱 맞는 조화로운 음료
        .movimg
            img(src="cafeimg/estj.jpg")
        a(href='/')
          button() HOME
