include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 파워풀한 에너지의 당신!
        .resultName 클렌즈 주스
        .description 과일과 채소를 오로지 압력으로만
        .description 오로지 원맥만이 담긴 이 생 주스!
        .description 활동적인 ESTP에게 추천!
        .movimg
            img(src="cafeimg/enfp.jpg")
        a(href='/')
          button() HOME
