include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 완벽한 조화를 추구하는 당신!
        .resultName  카라멜 마끼야또
        .description 에스프레소와 우유, 거품, 카라멜
        .description 완벽한 조합의 상징인 이 음료를
        .description 조화를 중요시하는 INTJ에게 추천합니다
        .movimg
            img(src="cafeimg/intj.jpg")
        a(href='/')
          button() HOME
