include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 활력적이고 바쁜 당신!
        .resultName  에스프레소
        .description 항상 바쁜 ENTJ
        .description 활력을 줄 수 있는 카페인이 필요합니다
        .description 모든 커피 음료에 샷을 하나 더 추가한다면..?
        .movimg
            img(src="cafeimg/entj.jpg")
        a(href='/')
          button() HOME
