include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 스윗한 당신
        .resultName  밀크티라떼
        .description 홍차와 우유의 향긋한 블렌딩
        .description 강하진 않지만 이 은은한 맛을
        .description 성실하고 온화한 ISFJ에게 바칩니다
        .movimg
            img(src="cafeimg/isfj.jpg")
        a(href='/')
          button() HOME
