include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 창의력 뿜뿜!
        .resultName  드롭치노
        .description 각종 과일과 얼음을 간 걸쭉한 음료
        .description 이 새로운 맛의 조화를
        .description INFP인 당신에게 추천합니다
        .movimg
            img(src="cafeimg/infp.jpg")
        a(href='/')
          button() HOME
