include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 생동감 넘치는 ESFP
        .resultName  에이드
        .description 톡 쏘는 탄산수에 싱그러운 과일이!
        .description 청량감 넘치는 이 음료로
        .description 상큼한 당신에게 플러스!
        .movimg
            img(src="cafeimg/esfp.jpg")
        a(href='/')
          button() HOME
