include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 긍정 / 부정 모든게 가능!
        .resultName  콜드부르
        .description 차가운 커피 물로 천천히 추출한
        .description 새로운 맛과향의 커피
        .description 현실주의자 INTP와 딱 어울려요!
        .movimg
            img(src="cafeimg/intp.jpg")
        a(href='/')
          button() HOME
