include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 관찰력 좋은 당신!
        .resultName  카페라떼
        .description 신선한 우유와 부드러운 우유거품
        .description 잘 조화된 에스프레소를 한 샷
        .description 관찰력이 좋은 INFJ에게 추천드립니다
        .movimg
            img(src="cafeimg/infj.jpeg")
        a(href='/')
          button() HOME
