include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 사교적이고 봉사적인 당신! 몸에 좋은
        .resultName  주스
        .description 과일, 야채에서 짜낸 음료
        .description 사교적이고 타인에게 봉사하는 ESFJ인 당신
        .description 건강을 위한 주스를 추천합니다!
        .movimg
            img(src="cafeimg/esfj.jpg")
        a(href='/')
          button() HOME
