include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 이구역 논리왕은 나야
        .resultName  드립커피
        .description 볶아서 간 커피 콩을 거름 장치에 담고
        .description 그 위에 물을 부어서 만든 커피
        .description 체계적이고 논리적인 ISTP에게 딱이야!
        .movimg
            img(src="cafeimg/isfp.jpg")
        a(href='/')
          button() HOME
