include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 열정과 냉정 사이인 당신! 차갑고 달콤한
        .resultName  아포가토
        .description 차가운 젤라또에 뜨거운 에스프레소
        .description 어울리지 않을 것 같은 이 메뉴에도
        .description 훌륭한 조합이 있습니다
        .movimg
            img(src="cafeimg/enfp.jpg")
        a(href='/')
          button() HOME
