include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 카리스마가 가득한 당신 진한 향의
        .resultName  블랙슈가 밀크
        .description 달콤한 흑당과 쫄깃한 흑당펄
        .description 부드러운 우유가 어우러져
        .description 서로의 맛을 상승시켜주는 블랙슈가 밀크 추천!
        .movimg
            img(src="cafeimg/enfj.jpg")
        a(href='/')
          button() HOME
