include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_movie.png")
        .resultTitle 호기심 가득한 당신!
        .resultName  버블밀크티
        .description 카사바로 만든 타피오카 펄에
        .description 다양한 종류의 재료를 넣어 만든 음료!
        .description 호기심 많은 ENTP에게 딱!
        .movimg
            img(src="cafeimg/entp.jpg")
        a(href='/')
          button() HOME
