include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <노인과 바다>(어니스트 헤밍웨이/ 반니/ 2018년)
        .resultName 모험을 즐기는 사업가형
        .description 뛰어난 두뇌와 행동력, 직관으로 
        .description 안정보다는 모험에 몰두하며 짜릿함을 즐기는 당신에게
        .description <노인과 바다>(어니스트 헤밍웨이/ 반니/ 2018년) 추천합니다! 헤밍웨이도 ENFP 였대요~
        .movimg
            img(src="bookimg/estp.jpeg")
        a(href='/')
          button() HOME
