include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <말투를 바꿨더니 관계가 찾아왔습니다>(김범준/ 생각의길/ 2020년)
        .resultName  뜨거운 논쟁을 즐기는 변론가형
        .description 재치있는 입담과 풍부한 지식을 바탕으로
        .description 타인과의 논쟁을 통해 그들이 믿는 이념에 반향을 일으키려 하는 당신!!
        .description 당신의 논쟁적인 성향은 가끔 타인에게 상처가 되기도 하는데요, 이런 점을 보완하기 위해
        .description <말투를 바꿨더니 관계가 찾아왔습니다>를 추천합니다!
        .movimg
            img(src="bookimg/entp.jpg")
        a(href='/')
          button() HOME
