include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <유쾌함의 기술>(앤서니 T. 디베네뎃/ 다산초당/ 2020년)
        .resultName  자유로운 영혼의 연예인형
        .description 끊임없는 열정과 에너지로 웃음과 오락,
        .description 그리고 즐거움에 몰두하는 당신에게
        .description <유쾌함의 기술>을 추천합니다!
        .movimg
            img(src="bookimg/esfp.jpeg")
        a(href='/')
          button() HOME
