include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <디즈니만이 하는 것>(로버트 아이거/ 커넥팅/ 2020년)
        .resultName  대담한 통솔자형
        .description 타고난 카리스마와 자신감으로 대담하게
        .description 타인을 이끌고 목표를 성취하려는 성향이 강한 당신에게
        .description <디즈니만이 하는 것>을 추천합니다!
        .movimg
            img(src="bookimg/entj.jpeg")
        a(href='/')
          button() HOME
