include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <지적 대화를 위한 넓고 얕은 지식 제로>(채사장/ 웨일북/ 2019년)
        .resultName  재기발랄한 활동가형
        .description 홥발한 에너지로 어디서나 타인과 자유롭게 어울리면서도 
        .description 특유의 통찰력으로 인생에 숨은 의미를 찾아내는 당신에게
        .description <지적 대화를 위한 넓고 얕은 지식 제로>를 추천합니다!
        .movimg
            img(src="bookimg/enfp.jpeg")
        a(href='/')
          button() HOME
