include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <도구와 기계의 원리>(데이비드 맥컬레이/ 도서출판 크래들/ 2016년)
        .resultName  만능 재주꾼형
        .description 단단한 이성과 타오르는 호기심을 가졌으며
        .description 다양한 도구 사용에도 능한 당신에게
        .description <도구와 기계의 원리>를 추천합니다!
        .movimg
            img(src="bookimg/istp.gif")
        a(href='/')
          button() HOME
