include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <언어의 온도>(이기주/ 말글터/ 2020년)
        .resultName  선의의 옹호자형
        .description 조용하지만 특유의 섬세함으로
        .description 꿈꾸는 이상적인 세상을 만들기 위해 꾸준히 노력하는 당신에게
        .description <언어의 온도>를 추천합니다!
        .movimg
            img(src="bookimg/infj.jpeg")
        a(href='/')
          button() HOME
