include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <이정현의 집밥 레스토랑>(이정현/ 서사원/ 2020년)
        .resultName  사교적인 외교관형
        .description 주변인들에 대한 애정과 관심을 가지고
        .description 이들을 돕고 행복하게 만듦으로써 인기가 많은 당신에게
        .description <이정현의 집밥 레스토랑>을 추천합니다!
        .movimg
            img(src="bookimg/esfj.jpeg")
        a(href='/')
          button() HOME
