include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <떨림과 울림>(김상욱/ 동아시아/ 2018년)
        .resultName  논리적인 사색가형
        .description 특유의 논리력과 지적 호기심으로
        .description 곧잘 사색이나 몽상에 빠지곤 하는 당신에게
        .description <떨림과 울림>을 추천합니다!
        .movimg
            img(src="bookimg/intp.jpeg")
        a(href='/')
          button() HOME
