include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <공감의 언어>(정용실/ 한겨레출판/ 2018년)
        .resultName  용의주도한 전략가형
        .description 풍성한 상상력과 꼼꼼한 계획을 세우는 전략가 타입!
        .description 하지만 합리성에 기반한 높은 자존감은 때론 타인과의 관계를 해치기도 하네요.
        .description 이런 당신에게 <공감의 언어>을 추천해요! 
        .movimg
            img(src="bookimg/intj.jpeg")
        a(href='/')
          button() HOME
