include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <오베라는 남자>(프레드릭 배크만/ 다산책방/ 2015년)
        .resultName  청렴결백한 논리주의자형
        .description 언제나 자기가 맡은 바 책임을 다하고
        .description 그들의 행동이나 결정에 대해 한 치의 의심도 갖지 않는 현실주의자인 당신!
        .description <오베라는 남자>를 추천합니다!
        .movimg
            img(src="bookimg/istj.jpeg")
        a(href='/')
          button() HOME
