include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <뉴욕규림일기>(김규림/ 비컷/ 2018년)
        .resultName  호기심 많은 예술가형
        .description 특유의 심미안과 감각으로
        .description 사회의 한계를 뛰어넘어 새로움을 추구하는 예술가같은 당신에게
        .description <뉴욕규림일기>를 추천합니다!
        .movimg
            img(src="bookimg/isfp.jpg")
        a(href='/')
          button() HOME
