include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <타인의 고통>(수전 손택/ 이후/ 2004년)
        .resultName  정의로운 사회운동가형
        .description 카리스마와 열정을 지닌 타고난 리더!
        .description 선한 일을 하며 세상의 빛과 소금이 되려는 당신에게
        .description <타인의 고통>을 추천합니다!
        .movimg
            img(src="bookimg/enfj.jpg")
        a(href='/')
          button() HOME
