include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <꽃을 보듯 너를 본다>(나태주/ 지혜/ 2015년)
        .resultName  용감한 수호자형
        .description 주변의 소중한 이들을 지키고 돕는데 
        .description 많은 에너지를 투여하는 헌신적 방어자인 당신에게
        .description <꽃을 보듯 너를 본다>를 추천합니다!
        .movimg
            img(src="bookimg/isfj.jpeg")
        a(href='/')
          button() HOME
