include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <빌 캠벨, 실리콘밸리의 위대한 코치>(에릭 슈미트 외/ 김영사/ 2020년)
        .resultName  엄격한 관리자형
        .description 뛰어난 현실 감각과 
        .description 정직하고 헌신적인 태도로 사물과 사람을 관리하는데 능한 당신!
        .description <빌 캠벨, 실리콘밸리의 위대한 코치>를 추천합니다!
        .movimg
            img(src="bookimg/estj.jpg")
        a(href='/')
          button() HOME
