include ../partials/header
script(src='../sprites/loading.js')
.loader-moving
  span.left
  span.right
    .resultDiv
        .resultimg
            img(src="sprites/room_Trip.png")
        .resultTitle <상처 받지 않는 영혼>(마이클 싱어/ 라이팅하우스/ 2014년)
        .resultName  열정적인 중재자형
        .description 특유의 통찰력으로 타인과 깊이 있는 의사소통을 하며 
        .description 인생에서 실용적인 부분보다는 나름의 원리원칙에 따라 행동하는 당신에게
        .description <상처 받지 않는 영혼>을 추천합니다!
        .movimg
            img(src="bookimg/infp.jpeg")
        a(href='/')
          button() HOME
